<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">POOPYCORN</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
        </ul>
        <button><a href="/itoldyou">DON'T PRESS HERE</a></button>
      </div>
    </div>
  </nav>
  <body>
    <div class="container photo-margin">
      <div class="row poto-display">
        <div class="col-md-4">
          <img class="img-fluid" src="/images/unicorn.png" alt="uni" />
        </div>
        <div class="col-md-4">
          <img  class="img-fluid" src="/images/mrPoopy.png" alt="poppy" />
        </div>
        <div class="col-md-4">
          <img  class="img-fluid" src="/images/bonus.png" alt="star" />
        </div>
      </div>
      <div class="row photo-display">
        <div class="col-md-4">
          <img  class="img-fluid" src="/images/dabbing.png" alt="dabbing" />
        </div>
        <div class="col-md-4">
          <img  class="img-fluid" src="/images/rainbowpoopy2.png" alt="dabbing" />
        </div>
      </div>
    </div>
  </body>
</html>
